{%extends "base.html"%}
{% load static %}

{%block content %}

{% endblock%}
<!-- {% block slide%}-->
<!--<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active">-->
<!--      <img src="{% static 'images/apprenez.jpg' %}" class="d-block w-100" alt="..." width="600px" height="600px">-->
<!--      <div class="carousel-caption d-none d-md-block">-->
<!--        <h1>découvrez chaque jour de nouveaux concepts sur la vie-->
<!--            la curiosité n'est pas vilaine quand on est curieux à propos de l'éssentiel.</h1>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img src="{% static 'images/commenter.jpg' %}" class="d-block w-100" alt="...">-->
<!--      <div class="carousel-caption d-none d-md-block">-->
<!--        <h5>Titre pour la deuxième image</h5>-->
<!--        <p>Description pour la deuxième image.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="carousel-item" data-bs-interval="2000" >-->
<!--      <img src="{% static 'images/soyez auteur.jpg' %}" class="d-block w-100" alt="...">-->
<!--      <div class="carousel-caption d-none d-md-block">-->
<!--        <h5>Titre pour la troisième image</h5>-->
<!--        <p>Description pour la troisième image.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Next</span>-->
<!--  </button>-->
<!--</div>-->
<!--{%endblock%}-->

{%block services %}
<header class="py-1 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Bienvenue sur ce Blog!</h1>
            <p class="lead mb-0">Chaque jour, nous veillons sur notre progression</p>
            {% if category %}
                <p class="lead mb-0">Rubrique:  <strong>{{category}}</strong></p>
            {%endif%}
        </div>
    </div>
</header>
<div class="container mt-2 mb-2">
    <div class="row">
        {%for post in posts %}
        <div class="col-lg-4">
            <div class="card shadow">
                {% if post.image%}
                <img class="card-img-top" src="{{post.image.url}}" alt="card image cap" width="100px" height="200px">
                {% else %}
                <p>image no available</p>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{post.titre}}</h5>
                    <p class="card-text">{{post.description | truncatechars:60 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <p style="font-weight: bold;">By {{ post.auteur }}</p>

<!--                        <button class="btn btn-outline-primary">-->
                            <i class="fas fa-thumbs-up"></i>{{post.likes}}
<!--                        </button>-->
                        <a href="{{post.get_absolute_url}}" class="btn btn-primary">consulter</a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..."
                               aria-label="Enter search term..." aria-describedby="button-search"/>
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        {% for cat in categorie%}
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="{% url 'categorylist' cat.slug %}">{{cat.nom_category}}</a></li>
                            </ul>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Pagination-->
{% include "layouts/pagination.html" with page=posts %}

</div>
{% endblock%}