{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="border rounded p-4 bg-gray container px-5 my-5">
    <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="." method="POST">
        {%csrf_token%}
        <div class="form-floating mb-3">
<!--            <input class="form-control" id="username" type="text" placeholder="username"-->
<!--                   data-sb-validations="required"/>-->
            {{user_form.username}}
            <label for="{{user_form.username.id_for_labale}}">username</label>
            <div class="invalid-feedback" data-sb-feedback="username:required">username is required.</div>
        </div>
        <div class="form-floating mb-3">
<!--            <input class="form-control" id="name" type="text" placeholder="name" data-sb-validations="required"/>-->
<!--            <label for="name">name</label>-->
            {{user_form.first_name}}
            <label for="{{user_form.first_name.id_for_labale}}">First name</label>
            <div class="invalid-feedback" data-sb-feedback="firstName:required">First Name is required.</div>
        </div>
        <div class="form-floating mb-3">
            <!--            <input class="form-control" id="name" type="text" placeholder="name" data-sb-validations="required"/>-->
            <!--            <label for="name">name</label>-->
            {{user_form.last_name}}
            <label for="{{user_form.last_name.id_for_labale}}">Last Name</label>
            <div class="invalid-feedback" data-sb-feedback="lasstName:required">Last Name is required.</div>
        </div>

        <div class="form-floating mb-3">
<!--            <input class="form-control" id="emailAddress" type="email" placeholder="Email Address"-->
<!--                   data-sb-validations="required,email"/>-->
<!--            <label for="emailAddress">Email Address</label>-->
            {{user_form.email}}
            <label for="{{user_form.email.id_for_labale}}">email</label>
            <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
            <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
        </div>
<!--        <div class="form-floating mb-3">-->
<!--&lt;!&ndash;            <input class="form-control" id="telephone" type="text" placeholder="telephone"&ndash;&gt;-->
<!--&lt;!&ndash;                   data-sb-validations="required"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="telephone">telephone</label>&ndash;&gt;-->
<!--            {{user_form.telephone}}-->
<!--            <label for="{{user_form.telepone.id_for_labale}}">telephone</label>-->
<!--            <div class="invalid-feedback" data-sb-feedback="telephone:required">telephone is required.</div>-->
<!--        </div>-->
<!--        <div class="form-floating mb-3">-->
<!--&lt;!&ndash;            <input class="form-control" id="sexe" type="text" placeholder="sexe" data-sb-validations="required"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="sexe">sexe</label>&ndash;&gt;-->
<!--            {{user_form.sexe}}-->
<!--            <label for="{{user_form.sexe.id_for_labale}}">sexe</label>-->
<!--            <div class="invalid-feedback" data-sb-feedback="sexe:required">sexe is required.</div>-->
<!--        </div>-->
        <div class="form-floating mb-3">
<!--            <input class="form-control" id="password" type="text" placeholder="password"-->
<!--                   data-sb-validations="required"/>-->
<!--            <label for="password">password</label>-->
            {{user_form.password}}
            <label for="{{user_form.password.id_for_labale}}">password</label>
            <div class="invalid-feedback" data-sb-feedback="password:required">password is required.</div>
        </div>
        <div class="form-floating mb-3">
<!--            <input class="form-control" id="confirmPassword" type="text" placeholder="confirm password"-->
<!--                   data-sb-validations="required"/>-->
<!--            <label for="confirmPassword">confirm password</label>-->
               {{user_form.confirm_password}}
            <label for="{{user_form.confirm_password.id_for_labale}}">confirm_passwword</label>
            <div class="invalid-feedback" data-sb-feedback="confirmPassword:required">confirm password is required.
            </div>
        </div>
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                <p>To activate this form, sign up at</p>
                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
        </div>
        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
